@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: var(--font-poppins);
}
@custom-variant dark (&:is(.dark *));
@theme {
  --breakpoint-lxl: 1300px;
  --breakpoint-9xl: 1900px;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --font-poppins: var(--font-poppins);
  --font-gabriela: var(--font-gabriela);
  --animate-shiny-text: shiny-text 8s infinite;
 
}

:root {
  --background: #e5e5e5;
  --primary: #394ef4;
  --text-primary: #192335;
}

.dark {
  --background: #192335;
  --primary: #273041;
  --text-primary: #000000;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* flag rotate  */
/* Reverse rotation */
@keyframes roading-falgs-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}




.flags-reverse {
  animation: roading-falgs-reverse 30s linear infinite;
}


/* test code starts from here s */
.rbt {
    display: flex;
    align-items: center;
    background: rgba(226, 213, 252, 0.8);
    box-shadow: 0 12px 22px 0 rgba(214, 191, 242, 0.28);
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 500px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    justify-content: center;
    color: #192335;
    width: max-content;
}

