@import "tailwindcss";
@import "tw-animate-css";
body {
  font-family: var(--font-poppins);
}
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --font-poppins: var(--font-poppins);
  --font-gabriela: var(--font-gabriela);
}

:root {
  --background: #e5e5e5;
  --primary: #192335;
  --text-primary: #192335;
}

.dark {
  --background: #192335;
  --primary: #273041;
  --text-primary: #000000;
}


/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
